{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>About</title>
<LINK href="{{ STATIC_URL }}cwruBW.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
		<div id="top">
			<table id="header">
				<tr>
					<td class="menuitem"><a href="/scheduler">Back to Schedule</a></td>
				</tr>
			</table>		
		</div>
<div class="content">
<p>&nbsp;</p>
<h1>About CWRU Scheduler</h1>
<h2>Authors - Jason Kuster, Stuart Long, and Nathan McKinley</h2>
<p><a href="http://case.edu/projects/erpextract/soc.xml" target="_blank">Link to data</a><br/><a href="{{ STATIC_URL }}Kuster.Long.McKinley.FinalReport.CWRUScheduler.pdf" target="_blank">Project Development Report</a>
</div>
</div>
</body>
</html>
