{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}cwruBW.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
		<div id="top">
			<table id="header">
				<tr>
					<td class="menuitem"><a href="/scheduler">Back to Schedule</a></td>
					<td class="menuitem"><a href="/scheduler/add">Add a Course</a></td>
				</tr>
			</table>		
		</div>
<div class="content">
<p>&nbsp;</p>
<br>
{% for instruct, bool in classes.iteritems %}
	<table border="1" style="margin-right: 10px; margin-bottom: 10px; width:500px">
	<tr><td colspan="2" >{{instruct.meeting.meeting_class.dept}} {{instruct.meeting.meeting_class.class_number}}: {{instruct.meeting.meeting_class.classname}}</td></tr>
	<tr><td colspan="2">{{instruct.meeting.meeting_class.term}}: {{instruct.meeting.recur_type}} {{instruct.meeting.start_time}}</td></tr>
	<tr><td>{{instruct.meeting.meeting_location}}</td><td>  <a href="instructor?instructor={{instruct.instructor.name}}">{{instruct.instructor.name}}</a></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2">Description:<br>{{instruct.meeting.meeting_class.description}}</td></tr>
	<tr><td colspan="2">
			{% if bool %}
				<form name="delete" action="/scheduler/removecourse" method="post">{% csrf_token %}
				<input type="hidden" name="eventID" value="{{instruct.meeting.id}}"/>
				<input type="hidden" name="id" value="{{id}}"/>
				<input type="submit" value="Remove Course" align="middle">
				</form>
			{% else %}
				<form name="add" action="/scheduler/addcourse" method="post">{% csrf_token %}
				<input type="hidden" name="eventID" value="{{instruct.meeting.id}}"/>
				<input type="hidden" name="id" value="{{id}}"/>
				<input type="submit" value="Add Course" align="middle">
				</form>
			{% endif %}
	</table>
{% endfor %}
</div>
</div>
</body>
</html>
