{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}cwruBW.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
		<div id="top">
			<table id="header">
				<tr>
					<td class="menuitem"><a href="/scheduler">Back to Schedule</a></td>
					<td class="menuitem"><a href="/scheduler/inssearch">Search for a Professor</a></td>
				</tr>
			</table>		
		</div>
<div class="content">
<p>&nbsp;</p>
<form action="/scheduler/add" action="get">{% csrf_token %}
<p><label for="criterion">Search: </label>{{ form.criterion }}</p>
	</form>
    <table border="1">
    <tr>
    	<th style="width:300px; text-align:left;">Course</th>
    	<th style="width:100px;">Staff</th>
		<th style="width:100px;">Times</th>
		<th style="width:100px;">&nbsp;</th>
    </tr>
    {% for instructs, bool in classes.iteritems %}
			<tr>
			<!--<td><a href="../info?course={{c}}"</a>{{c}}</td>-->
			<td><a href="/scheduler/info?course={{instructs.meeting.meeting_class.dept}}~!~{{instructs.meeting.meeting_class.class_number}}">{{instructs.meeting.meeting_class.dept}} {{instructs.meeting.meeting_class.class_number}}: {{instructs.meeting.meeting_class.classname}}</a></td>
			<!--<td>{{instructs.instructor.name}}</td>-->
			<td><a href="/scheduler/instructor?instructor={{instructs.instructor.name}}">{{instructs.instructor.name}}</a></td>
			<td>{{instructs.meeting.recur_type}} {{instructs.meeting.start_time}} - {{instructs.meeting.end_time}}</td>
			{% if bool %}
				<td><form name="delete" action="/scheduler/removecourse" method="post">{% csrf_token %}
				<input type="hidden" name="eventID" value="{{instructs.meeting.id}}"/>
				<input type="hidden" name="id" value="{{id}}"/>
				<input type="submit" value="Remove Course" align="middle">
				</form></td>
			{% else %}
				<td><form name="add" action="/scheduler/addcourse" method="post">{% csrf_token %}
				<input type="hidden" name="eventID" value="{{instructs.meeting.id}}"/>
				<input type="hidden" name="id" value="{{id}}"/>
				<input type="submit" value="Add Course" align="middle">
				</form></td>
			{% endif %}
			</tr>
    {% endfor %}
    </table>
	
	</div>
</div>
</body>
</html>
