{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}add.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

<form action="../add" action="get">{% csrf_token %}
<!--{{ form.as_p }}-->
<p><label for="c_name">Search:</label>
	<input id="criterion" type="text" name="Search" maxlength="100" /></p>
</form>
	<h>numb: {{numb}}</h>
	{% for n in numb %}
		{{n}}
	{% endfor %}
    <table border="1">
    <tr>
    	<th style="width:300px; text-align:left;">Course</th>
    	<th style="width:100px;">Staff</th>
    </tr>
    {% for c in classes %}
    	<tr>
    	<!--<td><a href="../info?course={{c}}"</a>{{c}}</td>-->
		<td>{{c}}</td>
    	<td>{{c}}</td>
    	<td>{{c}}</td>
    {% endfor %}
    </table>
</div>
</body>
</html>