{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}add.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

<form action="../add" action="get">{% csrf_token %}
<!--{{ form.as_p }}-->
<p><label for="c_name">Search:</label>
	<input id="criterion" type="text" name="Search" maxlength="100" /></p>
</form>
	<h>{{crit}}</h>
    <ul>
    {% for c in class1 %}
        <li><a href="/polls/{{ poll.id }}/">{{ class.class_number }}</a></li>
        <li>hey</li>
    {% endfor %}
    </ul>
</div>
</body>
</html>