{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}cwruBW.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
		<div id="top">
			<table id="header">
				<tr>
					<td class="menuitem"><a href="/scheduler">Back to Schedule</a></td>
					<td class="menuitem"><a href="/scheduler/inssearch">Search for a Professor</a></td>
					<td class="menuitem"><a href="/scheduler/add">Add a Course</a></td>
				</tr>
			</table>		
		</div>
<div class="content">
<p>&nbsp;</p>
<form action="/scheduler/customevent" method="post">{% csrf_token %}
<div style="padding-left:20px; width: 300px; padding-bottom: 20px">
{% for field in form %}
		{% if field.errors %} <br/>{{ field.errors }}  <br/>{% endif %}
        {% if field.label != 'day' %}   <span style="margin-bottom: 10px;"><span > {{ field.label_tag }}:</span> <span style="float:right"> {{ field }} </span><br/><br/> </span> {% endif %}
    {% endfor %}
<label for="m">M</label>{{form.m.field}}
<label for="tu">Tu</label>{{form.tu.field}}
<label for="w">W</label>{{form.w.field}}
<label for="th">Th</label>{{form.th.field}}
<label for="f">F</label>{{form.f.field}}
<label for="sa">Sa</label>{{form.sa.field}}
<label for="su">Su</label>{{form.su.field}}
<!--{% for value, text in form.days.field.choices %}
{{value}} : {{text}}
{% endfor %}-->
</div>
<input type="hidden" name="id" value="{{id}}"/>
<input type="submit" value="Create Event"/>
</form>
</div>
</div>
</body>
</html>
