{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}add.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
{% for instruct in classes %}
	<h>{{instruct.meeting.meeting_class.term}}: {{instruct.meeting.meeting_class.classname}}</h>
	<p>{{instruct.meeting.meeting_recur_type}} {{instruct.meeting.meeting_time}}<br>
		{{instruct.meeting.meeting_location}} {{instruct.instructor.name}}<br><br>
		Description:<br>{{instruct.meeting.meeting_class.description}}</p>
{% endfor %}
</body>
</html>