{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}add.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
<br>
{% for instruct in classes %}
	<table border="1" style="margin-right: 10px; margin-bottom: 10px">
	<tr><td colspan="2" style="width=500px">{{instruct.meeting.meeting_class.term}}: {{instruct.meeting.meeting_class.classname}}</td></tr>
	<tr><td colspan="2">{{instruct.meeting.meeting_recur_type}} {{instruct.meeting.meeting_time}}</td></tr>
	<tr><td>{{instruct.meeting.meeting_location}}</td><td>  <a href="instructor?instructor={{instruct.instructor.name}}">{{instruct.instructor.name}}</a></td></tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2">Description:<br>{{instruct.meeting.meeting_class.description}}</td></tr>
	<p>&nbsp;</p>
{% endfor %}
</body>
</html>