{% load url from future %}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Add a course</title>
<LINK href="{{ STATIC_URL }}cwruBW.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
		<div id="top">
			<table id="header">
				<tr>
					<td class="menuitem"><a href="/scheduler">Back to Schedule</a></td>
					<td class="menuitem"><a href="/scheduler/add">Add a Course</a></td>
				</tr>
			</table>		
		</div>
<div class="content">
<p>&nbsp;</p>
<form action="/scheduler/inssearch" action="get">{% csrf_token %}
<p><label for="c_name">Search:</label>
<input id="insName" type="text" name="name" maxlength="100" /></p>
    <table border="1">
    <tr>
    	<th style="width:500px; text-align:left;">Name</th>
    </tr>
    {% for prof in profs %}
			<tr><td><a href="/scheduler/instructor?instructor={{prof.name}}">{{prof.name}}</a></td></tr>
    {% endfor %}
    </table>
	</form>
	</div>
	</div>
	</body>
	</html>
